In [1]:
import pandas as pd
import sqlite3

In [2]:
excel_file = 'E:\\Data_analysis_projects\\Total AdWords Earnings\\dataset\\google_adwords_earnings.xlsx'

In [3]:
excel_data = pd.read_excel(excel_file, sheet_name=None)

In [4]:
conn = sqlite3.connect(':memory:')

In [5]:
for sheet_name, df in excel_data.items():
    df.to_sql(sheet_name, conn, index=False, if_exists='replace')

In [9]:
query = "SELECT sum(adwords_earnings) as total_adwords_earnings,business_type from Sheet1 group by business_type order by total_adwords_earnings asc"

In [10]:
results = pd.read_sql_query(query, conn)

In [11]:
print(results)

   total_adwords_earnings business_type
0                 4838988       Finance
1                 4963904     Education
2                 5032608    Technology
3                 5143456        Retail
4                 5199601    Healthcare